.header {
    background-color:brown;
    height: 70px;
    display: flex;
    flex-direction: column;
}
a {
    padding: 10px;
    color: white;
}
a.active {
    color: aqua;
}
a:hover {
    color: cadetblue;
}